#QUARKUS_DATASOURCE_DB_KIND=postgresql
#QUARKUS_DATASOURCE_USERNAME=mapit
#QUARKUS_DATASOURCE_PASSWORD=mapit
#QUARKUS_DATASOURCE_REACTIVE_URL=vertx-reactive:postgresql://localhost:5432/mapit?loggerLevel=OFF
#MP_JWT_VERIFY_PUBLICKEY_LOCATION=file://publicKey.pem
#SMALLRYE_JWT_SIGN_KEY_LOCATION=file://privateKey.pem
#QUARKUS_INFINISPAN_CLIENT_CLIENT_INTELLIGENCE=BASIC
#QUARKUS_INFINISPAN_CLIENT_HOSTS=localhost:11222
#QUARKUS_INFINISPAN_CLIENT_PASSWORD=password
#QUARKUS_INFINISPAN_CLIENT_USERNAME=admin
#QUARKUS_HIBERNATE_ORM_DATABASE_GENERATION=update